* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menu-wrap {
  display: flex;
  background: #090e18;
  width: 100%;
  height: 7rem;
  position: fixed;
}

.logo {
  height: 76px;
  margin-top: 1rem;
}

.nav-bar {
  position: fixed;
}

a {
  display: flex;
  color: #4e93fa;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5.6rem;
  padding: 1rem;
}

.nav-bar a {
  display: flex;
  text-decoration: none;
  margin-left: 0;
}

.socials {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.socials ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.socials li {
  margin: 0 8px;
  padding: 0;
}

.socials a {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.media {
  width: 24px;
  height: 24px;
  display: block;
}

.ham-menu {
  height: 50px;
  width: 50px;
}

.ham-menu span {
  height: 5px;
  width: 30px;
  background-color: rgb(247, 242, 242);
  border-radius: 25px;
  position: absolute;
  top: 2%;
  left: 21rem;
  transform: translate(-50%, -50%);
  transition: 0.3 ease;
}

.ham-menu span:nth-child(1) {
  top: 40px;
}

.ham-menu span:nth-child(2) {
  top: 50px;
}

.ham-menu span:nth-child(3) {
  top: 60px;
}

.ham-menu.active span:nth-child(1) {
  top: 6.6%;
  position: fixed;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #4e93fa;
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  position: fixed;
  top: 5.9%;
  transform: translate(-50%, 50%) rotate(-45deg);
  background-color: #4e93fa;
}

.off-screen-menu {
  background: #fff;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  max-width: 450px;
  position: fixed;
  right: -450px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  color: #686565;
  padding: 2px;
  text-align: center;
}

.off-screen-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.off-screen-menu.active {
  right: 0;
}

.wrapper {
  background: #090e18;
}

h1 {
  padding: 7rem 4px 7px 2rem;
  color: #686565;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
}

.jesse {
  display: flex;
  width: 60%;
  margin-left: 2rem;
}

.myName {
  color: #4e93fa;
}

.intro {
  color: #686565;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 95%;
  padding: 1rem 3rem 3rem 2rem;
}

b {
  color: #4e93fa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sayHibtn {
  width: 50%;
  height: 50px;
  background: #d5d7d9;
  color: #4e93fa;
  font-size: 20px;
  border: #4e93fa 1px solid;
  border-radius: 10px;
  margin-bottom: 6rem;
  margin-left: 2rem;
}

.work-cards {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 8rem;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-1 {
  width: 340px;
  height: 576px;
  background: #0d1728;
  align-self: center;
  margin-left: 19px;
  border-radius: 20px;
}

.card-2 {
  width: 340px;
  height: 576px;
  background: #0d1728;
  align-self: center;
  margin-left: 19px;
  margin-top: 4rem;
  border-radius: 20px;
}

.card-3 {
  width: 340px;
  height: 576px;
  background: #0d1728;
  align-self: center;
  margin-left: 19px;
  margin-top: 4rem;
  border-radius: 20px;
}

.img-1 {
  width: 300px;
  height: 280px;
  margin-left: 20px;
  margin-top: 1rem;
  border-radius: 20px;
}

.project-1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  color: #4e93fa;
}

.card-title {
  display: flex;
  padding: 2px;
  color: #686565;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  align-items: baseline;
}

.calendar {
  margin-right: -60px;
  margin-top: 5px;
}

.year {
  margin-right: 17px;
}

.card-text {
  color: #686565;
  font-family: Arial, Helvetica, sans-serif;
  width: 66%;
  margin-left: 2rem;
  margin-top: 1rem;
}

.html {
  color: #4e93fa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1rem;
}

.card-btn {
  width: 80%;
  height: 40px;
  background: #0d1728;
  border: #4e93fa 2px solid;
  border-radius: 10px;
  color: #4e93fa;
  margin-left: 2.2rem;
  margin-top: 2rem;
}

.skills-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  display: flex;
  padding: 10rem 1rem 4rem 1rem;
}

.skill-logos {
  display: flex;
  justify-content: space-around;
}

.js-logo {
  width: 57px;
  height: 64px;
}

.figma-logo {
  width: 57px;
  height: 64px;
}

.contact-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  display: flex;
  padding: 10rem 1rem 4rem 1rem;
}

.contact-text {
  display: flex;
  text-align: center;
  margin-left: 3.5rem;
  width: 16rem;
  align-content: center;
  color: #686565;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: #4e93fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-left: 7rem;
}
